<div id="home__main">

  <div class="main__title">
    <h1>Bienvenido a Shopéame</h1>

    <div class="main__title-1">

      <h2>¿Que es Shopéame?</h2>

      <p>lorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet,
        consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit
        amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum
        dolor sit amet, consectetlorem ipsum dolor sit amet, consectet Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Placeat, suscipit. Totam, est enim ipsam quibusdam omnis, ex fugiat distinctio
        mollitia ad deleniti cumque odio odit et sunt ducimus repellat quas lorem. Lore lorem ipsum dolor sit
        amet, consect Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur nihil consequuntur, vel
        voluptate reprehenderit fugit temporibus consectetur adipisci? Maxime illo laudantium laborum omnis
        corporis exercitationem a nemo placeat perferendis nulla!o lorem ipsum dolor sit amet, consectetlorem
        ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, </p>

      <h2>¿Para que puedo usar Shopéame?</h2>

      <p> lorem lorem ipsum dolorlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem
        ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet,
        consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit
        amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetconsectetlorem
        ipsum dolor sit amet, consectet Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat,
        suscipit. Totam, est enim ipsam quibusdam omnis, ex fugiat distinctio mollitia ad deleniti cumque odio
        odit et sunt ducimus repellat quas lorem. Lore lorem ipsum dolor sit amet, consect Lorem ipsum dolor sit
        amet, consectetur adipisicing elit. Tenetur nihil consequuntur, vel voluptate reprehenderit fugit
        temporibus c</p>


      <h2>¿Que hacemos en Shopéame?</h2>

      <p>lorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet,
        consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit
        amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum
        dolor sit amet, consectetlorem ipsum dolor sit amet, consectetconsectetlorem ipsum dolor sit amet,
        consectet Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat, suscipit. Totam, est enim
        ipsam quibusdam omnis, ex fugiat distinctio mollitia ad deleniti cumque odio odit et sunt ducimus
        repellat quas lorem. Lore lorem ipsum d</p>


      <h2>¿Es seguro usar Shopéame?</h2>
      <p>lorem ipsum dolor sit amet, consectetlorem ipsum lorem. Lorem ipsum dolor sit amet,
        consectloremmmmmmffldsfksdfconsectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet,
        consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit
        amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum dolor sit amet, consectetlorem ipsum Lorem ipsum
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque quia odio asperiores beatae labore delectus ex numquam sapiente ipsa vitae aliquam odit similique reprehenderit iusto expedita libero, dolor pariatur at.
       </p>


    </div>
