<div>
  <div>
    <img class="image" src="{{list.image}}" alt="{{list.name}}">
    <h3>{{list.name}}</h3>
    <p>{{list.description}}</p>
    <h4>{{list.price}}</h4>
  </div>
  <div>
    <div class="products__gallerybtn">
      <div class="products__gallerybtnstars">
        <div class="rating__1" [style.width.%]="list.stars | starts">
          <span class="stars__1">★★★★★</span>
        </div>
        <div class="ratings__2">
          <span class="stars__2">★★★★★</span>

        </div>
      </div>
      <span class="products__gallerybtn-rating">{{list.stars}}</span>
      <button class="c-gallerybtnedit" [routerLink]="['/gestion', list.id]">Editar</button>

    </div>
  </div>
</div>
