<nav class="a-nav">
    <div class="a-navdiv" routerLink="/" routerLinkActive="c-navdivlink--active"
        [routerLinkActiveOptions]="{exact:true}">
        <img class="a-navdivicon1" src="../../../assets/iconos-header/Vector.svg" alt="">
        <a class="a-navdivlink">Home</a>
    </div>
    <div class="a-navdiv--central" routerLinkActive="c-navdivlink--active" routerLink="/prods">
        <img class="a-navdivicon2" src="../../../assets/iconos-header/products.svg" alt="">
        <a class="a-navdivlink">Prods.</a>
    </div>
    <div class="a-navdiv" routerLinkActive="c-navdivlink--active" routerLink="/gestion">
        <img class="a-navdivicon3" src="../../../assets/iconos-header/iconogestion.svg" alt="">
        <a class="a-navdiv__link">Gestion</a>
    </div>

</nav>
